<!-- ko if: isDisplayed() -->
<tr class="totals fee excl checkout-summary">
    <th class="mark" scope="row" colspan="2">
        <table class="fee-breakdown">
            <tr style="border: 0px solid #ffffff; font-size: 16px; font-weight: 600;">
                <td class="fee-label" style="padding: 10px 5px 5px 0px;">US Govt. Tariff Collection charge</td>
                <td style="text-align: right; padding: 10px 5px 5px 0px;" class="fee-amount"
                    data-bind="text: getTariffFee()"></td>
            </tr>
        </table>
    </th>
</tr>
<!-- /ko -->